
.cabecalho{
	width: 100%;
	height: 80px;
	background-image: linear-gradient(to right, #66CDAA , #48D1CC);
}

.cabecalho-img{
	width: 100%;
	height: 110px;
	background-image: #FFFAFA;
}

.border{
	width: 100%;
	height: 5px;
	background-color: #8A2BE2;
}

.margemc{
	width: 100%;
	height: 20px;
	background-image: linear-gradient(to right, #20B2AA , #008B8B);
}

.logotipo{
	margin-top: 1%;
	margin-left: 1%;
}


.container{
	width: 100%;
	height: 500px;
	background-color:#1C1C1C;
}

.container2{
	width: 100%;
	height: 700px;
	background-color:#1C1C1C;
}


.rodape{
	width: 100%;
	height: 20px;
	background-image: linear-gradient(to right, #20B2AA , #008B8B);
}

.rodape2{
	width: 100%;
	height: 80px;
	background-image: #FFFAFA;
	color: #8A2BE2;
	text-align: center;
	font-family: monospace;
	padding-top: 1%;
}


.adote{
	margin-top: 9%;
	width: 20%;
	height: 250px;
	background-color: #008B8B;
	float: left;
	display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 1%;
    margin-left: 3%;
    border-radius: 5px;

}

.adote:hover{
	background-image: linear-gradient(to right, #66CDAA , #48D1CC);
	box-shadow: 2px 2px 2px 2px black;
	cursor:pointer;
}


.imagens{
	margin: 20%;
}

.button{
	width: 8%;
	height: 50px;
	background-color: #2E8B57;
	float: right;
	margin-top: 4.5%;
	margin-right: 1%;
	color: white;
	font-family: monospace;
	text-align: center;
	line-height:50px;
}

.button:hover{
	background-color:#228B22;
	cursor:pointer;
}


.legenda{
	width: 8%;
	height: 50px;
	background-color: #8A2BE2;
	margin-right:1%;
	float: right;
	margin-top: 4.5%;
	color: white;
	font-family: monospace;
	text-align: center;
	line-height:50px;
	cursor:pointer;
	font-size: 0.6em;

}

.legenda:hover{
	background-color:#2E8B57;
}

.container2 h1{
    font-family: sans-serif;
    color: #FFFAFA;
    margin-left: 6%;
    padding-top: 3%;
    
}
.nome{
    width: 27%;
	height: 25px;
       margin-left: 6%;
    margin-top: 3%;
    display: flex;
     
}
.telefone{
    width: 27%;
	height: 25px;
       margin-left: 6%;
    margin-top: 1%;
      display: flex;
    
}
.endereco{
    width: 27%;
	height: 25px;
       margin-left: 6%;
    margin-top: 2%;
      display: flex;
        
}
.bnt{
   font-family: sans-serif;
     width: 17%;
	height: 29px;
        background-color: #cc0099;
        margin-top: 2%;
          margin-left: 12%;
          border-color: #cc0099;
          font-size:x-large;
          color: #FFFAFA;
}

.idade{
    width: 27%;
	height: 25px;
       margin-left: 6%;
    margin-top: 2%;
      display: flex;
        
}
.cpf{
    width: 27%;
	height: 25px;
       margin-left: 6%;
    margin-top: 2%;
      display: flex;
        
}





